# Google OAuth Credentials
# You can find these in the Google Cloud Console (https://console.cloud.google.com/)
GOOGLE_OAUTH_CLIENT_ID=your_client_id_here
GOOGLE_OAUTH_CLIENT_SECRET=your_client_secret_here
