# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django
db.sqlite3
/static/
/media/

# Environment variables
.env

# Environments
.venv/
env/
venv/
ENV/

# OS-specific
.DS_Store
Thumbs.db
