<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redirecting to Paytm...</title>
</head>
<body>
    <h1>Redirecting to Paytm Payment Gateway...</h1>
    <form method="post" action="https://securegw-stage.paytm.in/order/process" name="paytm_form">
        {% for key, value in paytm_params.items %}
        <input type="hidden" name="{{ key }}" value="{{ value }}">
        {% endfor %}
    </form>
    <script>
        document.paytm_form.submit();
    </script>
</body>
</html>